@import "../../utils/varaibles"

.app-footer
  display: flex
  flex-direction: column

.app-footer__info
  background-color: $footer-gray-dark

.app-footer-info-wrapper
  padding: 106px 0
  display: flex
  gap: 20px

.app-footer-info-col
  width: 25%

.app-footer-info__title,
.app-footer-info__list,
.app-footer-info-list__link,
.app-footer-info__text
  color: $color-white
  text-decoration: none

.app-footer-info__title
  font-size: 18px

.app-footer-info__list
  li
    padding: 5px 0
  margin: 0
  padding: 0

.app-footer-info__list--social
  display: flex
  flex-wrap: wrap

  .app-footer-info-list__links
    $size: 20px
    margin: 0 15px
    display: block
    position: relative
    width: $size
    height: $size

  li:first-child
    .app-footer-info-list__links
      margin-left: 0

.app-footer-info-list__link
  font-size: 12px
  padding: 5px 0

.app-footer-info-list__link:hover
  text-decoration: underline

.app-footer-info__icons
  width: 100%
  position: absolute
  top: 50%
  left: 50%
  transform: translate(-50%, -50%)

.app-footer-info__text
  white-space: pre-line
  font-size: 12px
  line-height: 20px
  font-style: inherit

.app-footer__copyrighting
  background-color: $footer-gray

.app-footer-copyrighting-wrapper
  display: flex
  align-items: center
  justify-content: space-between
  padding: 40px 0

.app-footer-copyrighting__title,
.app-footer-copyrighting__link
  color: $color-white
  font-size: 14px

.app-footer-copyrighting__link
  text-decoration: none

.app-footer-copyrighting__link:hover
  text-decoration: underline

@media (max-width: 700px)
  .app-footer-info-wrapper
    flex-direction: column
    align-items: center

  .app-footer-info-col
    width: 100%
    text-align: center

  .app-footer-info__list--social
    justify-content: center

@media (max-width: 500px)
  .app-footer-copyrighting-wrapper
    flex-direction: column
