@import "../../utils/varaibles"

$size: 20px

.app__header
  background-color: rgba(0, 0, 0, 0.2)
  position: fixed
  top: 0
  width: 100%
  transition: $transition
  z-index: 100


.app-header__container
  display: flex
  justify-content: space-between
  align-items: center
  padding: 30px 0

.app-header__right,
.app-header-navigation__list,
.app-header-social__list
  display: flex
  align-items: center
  margin: 0
  padding: 0

.app-header__logo
  display: flex
  align-items: center

.app-header-logo__image
  max-width: 69px


.app-header-navigation-list__item
  color: rgba($color-white, 0.9)
  font-family: $font-roboto
  text-decoration: none
  padding: 8px 12px
  font-size: 12px
  transition: $transition
  border-bottom: 2px solid rgba($color-sand, 0)

.app-header-navigation-list__item:hover
  color: rgba($color-white, 1)
  border-bottom: 2px solid rgba($color-sand, 1)

.app-header-social__list
  border-left: 1px solid $color-white
  border-right: 1px solid $color-white
  margin: 0 5px

.app-header-social-list__links
  margin: 0 10px
  display: block
  position: relative
  width: $size
  height: $size

.app-header-social__icons
  width: 100%
  position: absolute
  top: 50%
  left: 50%
  transform: translate(-50%, -50%)

.app-header__burger-btn
  display: none

.app-header__burger-btn,
.app-header__search-btn
  background-color: transparent
  border: none
  position: relative
  width: $size
  height: $size
  margin-left: 15px

.app-header__search-btn:active
  border-bottom: 1px solid $color-white

.app-header__burger-btn,
.app-header__search-btn:hover
  cursor: pointer

.app-header-burger__img,
.app-header-search__img
  width: $size
  height: $size
  position: absolute
  top: 50%
  left: 50%
  transform: translate(-50%, -50%)


@media (max-width: 700px)
  .app__header
    background-color: rgba(0, 0, 0, 0.2)

  .app-header__burger-btn
    display: block

  .app-header__right
    display: none

