@import "../../utils/varaibles"

.card
  background-color: $color-white
  display: flex
  flex-direction: column
  border-radius: 5px
  overflow: hidden

.card__header
  position: relative

.card-header__image
  width: 100%

.card-header__badges
  position: absolute
  top: 20px
  right: 20px

.card__main
  margin: 20px

.card-main__time
  font-size: 12px
  color: $color-gray-dark

.card-main__title
  font-size: 18px
  margin: 15px 0

.card-main__description
  font-size: 12px
  color: $color-gray-dark

.card__author
  display: flex
  align-items: center
  margin: auto 20px 20px
  border-top: 1px solid $color-gray
  padding: 20px 0 0 0

.card-author__image
  $size: 50px
  width: $size
  height: $size

.card-author__info
  margin-left: 20px
  display: flex
  flex-direction: column

.card-author-info__name,
.card-author-info__job
  font-size: 12px
  color: $color-black

.card-author-info__name
  font-weight: 800
  padding-bottom: 5px

  strong
    color: $footer-gray
