@import "../../utils/varaibles"

.photo-card
  position: relative
  background-repeat: no-repeat
  background-size: cover
  padding: 40px
  display: flex
  flex-direction: column
  align-items: flex-start
  min-height: 350px
  border-radius: 5px


.photo-card__badge
  position: absolute
  right: 20px
  top: 20px

.photo-card__time,
.photo-card__title,
.photo-card__description
  color: $color-white

.photo-card__time
  margin: auto 0 0 0
  font-size: 12px

.photo-card__title
  font-size: 18px

.photo-card__description
  font-size: 12px
  margin: 0