@import "../../utils/varaibles"

.badge
  text-transform: uppercase
  text-decoration: none
  color: $color-white
  font-size: 10px
  font-weight: bold
  position: relative
  background-color: rgba($color-white, 0.15)
  padding: 5px 10px
  border-radius: 8px
  font-family: $font-roboto
  transition: $transition background-color

.badge:hover
  background-color: rgba($color-white, 0.25)

