.banner-section {
  background-image: url("../../../images/background-ocean_2.png");
  background-repeat: no-repeat;
  background-size: contain;
  height: 100vh;
}

/*# sourceMappingURL=banner-section.css.map */
