@import "../../utils/varaibles"

.banner-section
  background-image: url("../../../images/background-ocean_2.png")
  background-repeat: no-repeat
  background-size: cover
  min-height: 600px
  display: flex

.banner-container
  max-width: 540px
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center

.banner__title,
.banner__description,
.banner__time
  color: $color-white
  text-align: center

.banner__description
  font-size: 12px
  margin: 0

.banner__line
  margin: 20px

.banner__time
  font-size: 12px

