
.editors__title
  margin: 30px 0 70px 0

.editors-pick-section
  margin: 150px 0

.editors-cards-wrapper
  display: grid
  grid-template-columns: 1fr 1fr 1fr
  grid-gap: 20px

@media (max-width: 1200px)
  .editors-cards-wrapper
    grid-template-columns: 1fr 1fr

@media (max-width: 900px)
  .editors-cards-wrapper
    grid-template-columns: 1fr
