.hero-section {
  background-image: url("../../../images/background-ocean_1.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  padding: 0 0 30vh 0;
}

.hero-section__container {
  width: 100%;
}

.hero-section__title {
  color: rgb(255, 255, 255);
  font-size: 36px;
  font-weight: bold;
  max-width: 530px;
  margin: 20px 0;
}

.hero-section__subtitle {
  display: flex;
  align-items: flex-start;
  color: rgb(255, 255, 255);
  font-size: 12px;
}

.hero-section-subtitle__line {
  width: 40px;
  margin: 8px 15px;
}

.hero-section-subtitle__date {
  font-size: 12px;
}

.hero-section-subtitle__text {
  font-size: 12px;
  max-width: 420px;
  margin: 0;
}

/*# sourceMappingURL=hero-section.css.map */
