@import "../../utils/varaibles"

.topics-section
  margin: 150px 0

.topics__navigation
  padding: 0
  display: grid
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr  30fr

  li:first-child
    .topics-navigation__links
      padding-left: 0

  li:last-child
    .topics-navigation__links
      padding-right: 0

.topics-navigation__list-right
  margin-left: auto

.topics-navigation__links
  padding: 5px 10px
  font-size: 12px
  font-weight: bold
  text-transform: capitalize
  text-decoration: none
  color: $color-black
  transition: $transition

.topics-navigation__links:hover
  color: $color-sand

.topics-cards-wrapper
  margin: 30px 0 0 0
  display: grid
  grid-template-columns: 1fr 1fr 1fr 1fr
  grid-gap: 20px

@media (max-width: 1200px)
  .topics-cards-wrapper
    grid-template-columns: 1fr 1fr 1fr

@media (max-width: 900px)
  .topics-cards-wrapper
    grid-template-columns: 1fr 1fr

@media (max-width: 600px)
  .topics-cards-wrapper
    grid-template-columns: 1fr

  .topics__navigation
    grid-template-columns: 1fr 1fr

    li:first-child
      .topics-navigation__links
        padding: 5px 10px