.container
  max-width: 1300px
  margin: 0 auto

@media (max-width: 1300px)
  .container
    max-width: 1200px

@media (max-width: 1200px)
  .container
    max-width: 900px

@media (max-width: 900px)
  .container
    max-width: 700px

@media (max-width: 700px)
  .container
    max-width: 500px

@media (max-width: 500px)
  .container
    max-width: 300px
