* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: rgb(229, 229, 229);
  font-family: "Lora", serif;
}

ol, ul {
  list-style: none;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
}

@media (max-width: 1300px) {
  .container {
    max-width: 1200px;
  }
}
@media (max-width: 1200px) {
  .container {
    max-width: 900px;
  }
}
@media (max-width: 900px) {
  .container {
    max-width: 700px;
  }
}
@media (max-width: 700px) {
  .container {
    max-width: 500px;
  }
}
@media (max-width: 500px) {
  .container {
    max-width: 300px;
  }
}
.title {
  color: rgb(73, 80, 87);
  font-weight: bold;
  font-size: 36px;
}

.badge {
  text-transform: uppercase;
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 10px;
  font-weight: bold;
  position: relative;
  background-color: rgba(255, 255, 255, 0.15);
  padding: 5px 10px;
  border-radius: 8px;
  font-family: "Roboto", sans-serif;
  transition: 0.1s ease-in-out background-color;
}

.badge:hover {
  background-color: rgba(255, 255, 255, 0.25);
}

.app__header {
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  width: 100%;
  transition: 0.1s ease-in-out;
  z-index: 100;
}

.app-header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0;
}

.app-header__right,
.app-header-navigation__list,
.app-header-social__list {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

.app-header__logo {
  display: flex;
  align-items: center;
}

.app-header-logo__image {
  max-width: 69px;
}

.app-header-navigation-list__item {
  color: rgba(255, 255, 255, 0.9);
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  padding: 8px 12px;
  font-size: 12px;
  transition: 0.1s ease-in-out;
  border-bottom: 2px solid rgba(212, 163, 115, 0);
}

.app-header-navigation-list__item:hover {
  color: white;
  border-bottom: 2px solid #d4a373;
}

.app-header-social__list {
  border-left: 1px solid rgb(255, 255, 255);
  border-right: 1px solid rgb(255, 255, 255);
  margin: 0 5px;
}

.app-header-social-list__links {
  margin: 0 10px;
  display: block;
  position: relative;
  width: 20px;
  height: 20px;
}

.app-header-social__icons {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.app-header__burger-btn {
  display: none;
}

.app-header__burger-btn,
.app-header__search-btn {
  background-color: transparent;
  border: none;
  position: relative;
  width: 20px;
  height: 20px;
  margin-left: 15px;
}

.app-header__search-btn:active {
  border-bottom: 1px solid rgb(255, 255, 255);
}

.app-header__burger-btn,
.app-header__search-btn:hover {
  cursor: pointer;
}

.app-header-burger__img,
.app-header-search__img {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media (max-width: 700px) {
  .app__header {
    background-color: rgba(0, 0, 0, 0.2);
  }
  .app-header__burger-btn {
    display: block;
  }
  .app-header__right {
    display: none;
  }
}
.hero-section {
  background-image: url("../../../images/background-ocean_1.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 600px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  padding: 0 0 140px 0;
}

.hero-section__container {
  width: 100%;
}

.hero-section__title {
  color: rgb(255, 255, 255);
  font-size: 36px;
  font-weight: bold;
  max-width: 530px;
  margin: 20px 0;
}

.hero-section__subtitle {
  display: flex;
  align-items: flex-start;
  color: rgb(255, 255, 255);
  font-size: 12px;
}

.hero-section-subtitle__line {
  width: 40px;
  margin: 8px 15px;
}

.hero-section-subtitle__date {
  font-size: 12px;
}

.hero-section-subtitle__text {
  font-size: 12px;
  max-width: 420px;
  margin: 0;
}

.topics-section {
  margin: 150px 0;
}

.topics__navigation {
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 30fr;
}
.topics__navigation li:first-child .topics-navigation__links {
  padding-left: 0;
}
.topics__navigation li:last-child .topics-navigation__links {
  padding-right: 0;
}

.topics-navigation__list-right {
  margin-left: auto;
}

.topics-navigation__links {
  padding: 5px 10px;
  font-size: 12px;
  font-weight: bold;
  text-transform: capitalize;
  text-decoration: none;
  color: rgb(73, 80, 87);
  transition: 0.1s ease-in-out;
}

.topics-navigation__links:hover {
  color: rgb(212, 163, 115);
}

.topics-cards-wrapper {
  margin: 30px 0 0 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
}

@media (max-width: 1200px) {
  .topics-cards-wrapper {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media (max-width: 900px) {
  .topics-cards-wrapper {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 600px) {
  .topics-cards-wrapper {
    grid-template-columns: 1fr;
  }
  .topics__navigation {
    grid-template-columns: 1fr 1fr;
  }
  .topics__navigation li:first-child .topics-navigation__links {
    padding: 5px 10px;
  }
}
.banner-section {
  background-image: url("../../../images/background-ocean_2.png");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 600px;
  display: flex;
}

.banner-container {
  max-width: 540px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.banner__title,
.banner__description,
.banner__time {
  color: rgb(255, 255, 255);
  text-align: center;
}

.banner__description {
  font-size: 12px;
  margin: 0;
}

.banner__line {
  margin: 20px;
}

.banner__time {
  font-size: 12px;
}

.editors__title {
  margin: 30px 0 70px 0;
}

.editors-pick-section {
  margin: 150px 0;
}

.editors-cards-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
}

@media (max-width: 1200px) {
  .editors-cards-wrapper {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 900px) {
  .editors-cards-wrapper {
    grid-template-columns: 1fr;
  }
}
.app-footer {
  display: flex;
  flex-direction: column;
}

.app-footer__info {
  background-color: rgb(33, 37, 41);
}

.app-footer-info-wrapper {
  padding: 106px 0;
  display: flex;
  gap: 20px;
}

.app-footer-info-col {
  width: 25%;
}

.app-footer-info__title,
.app-footer-info__list,
.app-footer-info-list__link,
.app-footer-info__text {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.app-footer-info__title {
  font-size: 18px;
}

.app-footer-info__list {
  margin: 0;
  padding: 0;
}
.app-footer-info__list li {
  padding: 5px 0;
}

.app-footer-info__list--social {
  display: flex;
  flex-wrap: wrap;
}
.app-footer-info__list--social .app-footer-info-list__links {
  margin: 0 15px;
  display: block;
  position: relative;
  width: 20px;
  height: 20px;
}
.app-footer-info__list--social li:first-child .app-footer-info-list__links {
  margin-left: 0;
}

.app-footer-info-list__link {
  font-size: 12px;
  padding: 5px 0;
}

.app-footer-info-list__link:hover {
  text-decoration: underline;
}

.app-footer-info__icons {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.app-footer-info__text {
  white-space: pre-line;
  font-size: 12px;
  line-height: 20px;
  font-style: inherit;
}

.app-footer__copyrighting {
  background-color: rgb(52, 58, 64);
}

.app-footer-copyrighting-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 0;
}

.app-footer-copyrighting__title,
.app-footer-copyrighting__link {
  color: rgb(255, 255, 255);
  font-size: 14px;
}

.app-footer-copyrighting__link {
  text-decoration: none;
}

.app-footer-copyrighting__link:hover {
  text-decoration: underline;
}

@media (max-width: 700px) {
  .app-footer-info-wrapper {
    flex-direction: column;
    align-items: center;
  }
  .app-footer-info-col {
    width: 100%;
    text-align: center;
  }
  .app-footer-info__list--social {
    justify-content: center;
  }
}
@media (max-width: 500px) {
  .app-footer-copyrighting-wrapper {
    flex-direction: column;
  }
}
.card {
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  overflow: hidden;
}

.card__header {
  position: relative;
}

.card-header__image {
  width: 100%;
}

.card-header__badges {
  position: absolute;
  top: 20px;
  right: 20px;
}

.card__main {
  margin: 20px;
}

.card-main__time {
  font-size: 12px;
  color: rgb(108, 117, 125);
}

.card-main__title {
  font-size: 18px;
  margin: 15px 0;
}

.card-main__description {
  font-size: 12px;
  color: rgb(108, 117, 125);
}

.card__author {
  display: flex;
  align-items: center;
  margin: auto 20px 20px;
  border-top: 1px solid rgb(229, 229, 229);
  padding: 20px 0 0 0;
}

.card-author__image {
  width: 50px;
  height: 50px;
}

.card-author__info {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
}

.card-author-info__name,
.card-author-info__job {
  font-size: 12px;
  color: rgb(73, 80, 87);
}

.card-author-info__name {
  font-weight: 800;
  padding-bottom: 5px;
}
.card-author-info__name strong {
  color: rgb(52, 58, 64);
}

.photo-card {
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  min-height: 350px;
  border-radius: 5px;
}

.photo-card__badge {
  position: absolute;
  right: 20px;
  top: 20px;
}

.photo-card__time,
.photo-card__title,
.photo-card__description {
  color: rgb(255, 255, 255);
}

.photo-card__time {
  margin: auto 0 0 0;
  font-size: 12px;
}

.photo-card__title {
  font-size: 18px;
}

.photo-card__description {
  font-size: 12px;
  margin: 0;
}

/*# sourceMappingURL=main.css.map */
